node_modules
resource/Name_of_processors.csv
resource/Name_of_processors.json
csv-res/i3-530 Processor-tokopedia.csv
csv-res/i3-540 Processor-tokopedia.csv
csv-res/i3-550 Processor-tokopedia.csv
csv-res/i3-560 Processor-tokopedia.csv
csv-res/i3-2100 Processor-tokopedia.csv
csv-res/i3-2100T Processor-tokopedia.csv
csv-res/i3-2105 Processor-tokopedia.csv
csv-res/i3-2120 Processor-tokopedia.csv
csv-res/i3-2120T Processor-tokopedia.csv
csv-res/i3-2125-tokopedia.csv
csv-res/i3-2130-tokopedia.csv
csv-res/i3-3210-tokopedia.csv
csv-res/i3-3220-tokopedia.csv
csv-res/i3-3220T-tokopedia.csv
csv-res/i3-3225-tokopedia.csv
csv-res/i3-3240-tokopedia.csv
csv-res/i3-3240T-tokopedia.csv
csv-res/i3-3245-tokopedia.csv
csv-res/i3-3250-tokopedia.csv
csv-res/i3-3250T-tokopedia.csv
csv-res/i3-4130-tokopedia.csv
csv-res/i3-4130T-tokopedia.csv
csv-res/i3-4150-tokopedia.csv
csv-res/i3-4150T-tokopedia.csv
csv-res/i3-4160-tokopedia.csv
csv-res/i3-4160T-tokopedia.csv
csv-res/i3-4170-tokopedia.csv
csv-res/i3-4170T-tokopedia.csv
csv-res/i3-4330-tokopedia.csv
csv-res/i3-4330T-tokopedia.csv
csv-res/i3-4340-tokopedia.csv
csv-res/i3-4350-tokopedia.csv
csv-res/i3-4350T-tokopedia.csv
csv-res/i3-4360-tokopedia.csv
csv-res/i3-4360T-tokopedia.csv
csv-res/i3-4370-tokopedia.csv
csv-res/i3-4370T-tokopedia.csv
csv-res/i3-6098P-tokopedia.csv
csv-res/i3-6100-tokopedia.csv
csv-res/i3-6100T-tokopedia.csv
csv-res/i3-6300-tokopedia.csv
csv-res/i3-6300T-tokopedia.csv
csv-res/i3-6320-tokopedia.csv
csv-res/i3-7100-tokopedia.csv
csv-res/i3-7100T-tokopedia.csv
csv-res/i3-7101E-tokopedia.csv
csv-res/i3-7101TE-tokopedia.csv
csv-res/i3-7300-tokopedia.csv
csv-res/i3-7300T-tokopedia.csv
csv-res/i3-7320-tokopedia.csv
csv-res/i3-7350K-tokopedia.csv
csv-res/i3-8100-tokopedia.csv
csv-res/i3-8100T-tokopedia.csv
csv-res/i3-8300-tokopedia.csv
csv-res/i3-8300T-tokopedia.csv
csv-res/i3-8350K-tokopedia.csv
csv-res/i3-9100-tokopedia.csv
csv-res/i3-9100F-tokopedia.csv
csv-res/i3-9100T-tokopedia.csv
csv-res/i3-9300-tokopedia.csv
csv-res/i3-9300T-tokopedia.csv
csv-res/i3-9320-tokopedia.csv
csv-res/i3-9350K-tokopedia.csv
csv-res/i3-9350KF-tokopedia.csv
